@import '../../../assets/styles/variables/colors.scss';
@import '../../../assets/styles/variables/sizes.scss';

.logotype-with-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
  cursor: pointer;

  & > *:not(:first-child) {
    margin-left: $step-size * 2;
  }
}
