/* Base */
$primary-color: #18a2d9;
$comp-color: #f2d43d;
$text-color: #011c40;

/* Additional */
$hover-primary-color: #157ebf;
$hover-comp-color: #d48d4a;
$active-primary-color: #136091; // #187fa8;
$active-comp-color: #9c763c;

/* Status */
$error-color: #f25252;
$success-color: #4af57a;

/* Classic */
$black-color: #000000;
$grey-color: #bababa;
$white-color: #ffffff;

/* Shadow */
$box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.08);
