/* Main */
$step-size: 8px;
$border-radius: 4px;

/* Font */
$h1-font-size: 56px;
$h1-line-height: 61.6px;

$h2-font-size: 40px;
$h2-line-height: 44px;

$h3-font-size: 24px;
$h3-line-height: 26.4px;

$tn-font-size: 16px;
$tn-line-height: 22.4px;

$ts-font-size: 14px;
$ts-line-height: 19.6px;

$tsub-font-size: 10px;
$tsub-line-height: 9px;

$regular-font-weight: 400;
$bold-font-weight: 700;
