@import '../../../assets/styles/variables/colors.scss';
@import '../../../assets/styles/variables/sizes.scss';

.text {
  font-size: $tn-font-size;
  font-weight: $regular-font-weight;
  font-style: normal;
  line-height: $tn-line-height;
  letter-spacing: -0.5px;

  &--h1 {
    font-style: normal;
    font-weight: $bold-font-weight;
    font-size: $h1-font-size;
    line-height: $h1-line-height;
    transform: translateX(-4px);
    margin: 0;
  }
  &--h2 {
    font-style: normal;
    font-weight: $bold-font-weight;
    font-size: $h2-font-size;
    line-height: $h2-line-height;
    transform: translateX(-3px);
    margin: 0;
  }
  &--h3 {
    font-style: normal;
    font-weight: $bold-font-weight;
    font-size: $h3-font-size;
    line-height: $h3-line-height;
    transform: translateX(-2px);
    margin: 0;
  }

  &--normal {
    font-style: normal;
    font-weight: $regular-font-weight;
    font-size: $tn-font-size;
    line-height: $tn-line-height;
  }
  &--small {
    font-style: normal;
    font-weight: $regular-font-weight;
    font-size: $ts-font-size;
    line-height: $ts-line-height;
  }
  &--sub {
    font-style: normal;
    font-weight: $regular-font-weight;
    font-size: $tsub-font-size;
    line-height: $tsub-line-height;
  }

  &--regular {
    font-weight: $regular-font-weight;
  }
  &--bold {
    font-weight: $bold-font-weight;
  }
}
