@import '../../../assets/styles/variables/colors.scss';
@import '../../../assets/styles/variables/sizes.scss';

.input-textarea-element {
  display: block;
  appearance: none;
  width: 100%;
  height: $ts-line-height * 4;
  min-height: $ts-line-height * 4;
  max-height: $ts-line-height * 4;
  border: 0;
  font-style: normal;
  font-weight: $bold-font-weight;
  font-size: $ts-font-size;
  line-height: $ts-line-height;
  outline: none;
  margin: 0;
  padding: $ts-font-size $ts-font-size * 2;
  color: $text-color;
  letter-spacing: -0.5px;

  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $grey-color;
  }
}
