@import '../../assets/styles/variables/colors.scss';
@import '../../assets/styles/variables/sizes.scss';

.template-messenger {
  height: 100%;
  position: relative;

  &__background {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $white-color;
    background-image: url(../../assets/images/summer-underwater.jpg);
    background-repeat: repeat;
    filter: opacity(0.2);
    position: absolute;
    z-index: -1;
  }

  &__header {
    box-sizing: border-box;
    background-color: $white-color;
    box-shadow: $box-shadow;
  }
  &__messages {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &-wrapper {
      height: auto;
      max-height: 100%;
      overflow-y: auto;
    }
  }
  &__sendbox {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    background-color: $white-color;
    box-shadow: $box-shadow;
  }
}
