@import '../../../assets/styles/variables/colors.scss';
@import '../../../assets/styles/variables/sizes.scss';

.time {
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: $text-color;

  & > *:not(:first-child) {
    margin-left: $step-size;
  }

  &__icon {
    width: $step-size + 2;
    height: $step-size + 2;
    background-color: transparent;
    background-image: url(../../../assets/icons/clock-dark.svg);
    background-position: center center;
    background-size: contain;
  }
}
