@import '../../../../assets/styles/variables/colors.scss';
@import '../../../../assets/styles/variables/sizes.scss';

.select-field {
  width: 100%;
  height: 100%;
  padding: $ts-font-size $ts-font-size * 2;
  padding-right: $ts-font-size * 4;
  cursor: pointer;
  position: relative;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;

  &::after {
    content: '';
    width: $step-size * 4;
    height: $step-size * 4;
    position: absolute;
    top: ($ts-font-size + $ts-line-height + $ts-font-size) / 2 -
      ($step-size * 4) / 2;
    right: ($ts-font-size * 4) / 2 - ($step-size * 4) / 2;
    background-image: url(../../../../assets/icons/select-arrow-down-dark.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: $step-size * 3 $step-size * 3;
    transform-origin: center center;
    transform: rotate(0);
    transition: all 0.2s ease-in-out;
  }

  &--active {
    &::after {
      transform: rotate(180deg);
    }
  }
}
