@import '../../../assets/styles/variables/colors.scss';
@import '../../../assets/styles/variables/sizes.scss';

.input-text-element {
  width: 100%;
  border: 0;
  font-style: normal;
  font-weight: $bold-font-weight;
  font-size: $ts-font-size;
  line-height: $ts-line-height;
  outline: none;
  margin: 0;
  padding: $ts-font-size $ts-font-size * 2;
  letter-spacing: -0.5px;

  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $grey-color;
  }
}
