@import '../../../assets/styles/variables/colors.scss';
@import '../../../assets/styles/variables/sizes.scss';

.input-label {
  margin: 0;
  margin-bottom: $step-size;
  cursor: pointer;

  &--default {
    color: $text-color;
  }
  &--error {
    color: $error-color;
  }
  &--success {
    color: $success-color;
  }
  &--disabled {
    color: $grey-color;
  }
}
