@import '../../../assets/styles/variables/colors.scss';
@import '../../../assets/styles/variables/sizes.scss';

.radio {
  width: $step-size * 2.5;
  height: $step-size * 2.5;
  background: $white-color;
  border: 2px solid $text-color;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;

  &:hover,
  &--checked {
    background: $text-color;

    &::after {
      content: '';
      width: $step-size - 2;
      height: $step-size - 2;
      top: calc(50% - 3px);
      left: calc(50% - 3px);
      background: $white-color;
      border-radius: 50%;
      position: absolute;
    }
  }

  &:hover {
    opacity: 0.5;
  }
}
