@import '../../../assets/styles/variables/colors.scss';
@import '../../../assets/styles/variables/sizes.scss';

.message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &--left {
    justify-content: flex-start;
  }
  &--right {
    justify-content: flex-end;
  }
}
