@import '../../../assets/styles/variables/colors.scss';
@import '../../../assets/styles/variables/sizes.scss';

.message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &--left {
    justify-content: flex-start;

    & > :not(:first-child) {
      margin-left: $step-size;
    }
  }
  &--right {
    flex-direction: row-reverse;
    justify-content: flex-start;

    & > :not(:first-child) {
      margin-right: $step-size;
    }
  }
}
