@import '../../../assets/styles/variables/colors.scss';
@import '../../../assets/styles/variables/sizes.scss';

.logotype {
  width: $ts-font-size + $ts-line-height + $ts-font-size;
  height: $ts-font-size + $ts-line-height + $ts-font-size;
  background-image: url(../../../assets/images/logotype-on-white.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
}
