@import '../../../assets/styles/variables/colors.scss';
@import '../../../assets/styles/variables/sizes.scss';

.messenger-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  & > *:not(:first-child) {
    margin-left: $step-size;
  }
}
