@import '../../../assets/styles/variables/colors.scss';
@import '../../../assets/styles/variables/sizes.scss';

.checkbox {
  width: $step-size * 2.5;
  height: $step-size * 2.5;
  background: $white-color;
  border: 2px solid $text-color;
  box-sizing: border-box;
  border-radius: $border-radius;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;

  &:hover,
  &--checked {
    background: $text-color;

    &::after {
      content: '';
      width: $step-size + 2px;
      height: $step-size + 2px;
      top: calc(50% - 5px);
      left: calc(50% - 5px);
      background-image: url(../../../assets/icons/check-light.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      border-radius: 50%;
      position: absolute;
    }
  }

  &:hover {
    opacity: 0.5;
  }
}
